modules:
    config:
        PhpBrowser:
            url: 'http://mito:mito@playground'
            auth: ['mito', 'mito']
#        WebDriver:
#            url: 'http://mito:mito@playground'
#            host: '192.168.88.24'
#            browser: 'phantomjs'
